html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fredoka One', cursive;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img{
  object-fit: cover;
  object-position: 0 30%;
}

.navbar {
  background-color: crimson;
  color: #fff;
}

.jumbotron {
  background-image: linear-gradient(to right,black 0%,gray 60%), url("../assets/images/background.jpg");
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  padding: 5rem;
}

.jumbotron h2 {
  color: aliceblue;
  font-size: 5rem;
}


@media screen and (max-width: 900px) {
  .jumbotron {
    padding: 3rem;
  }
  .jumbotron h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .jumbotron {
    padding: 2rem;
  }
  .jumbotron h2 {
    font-size: 2rem;
  }
}

.btn:hover{
  animation: headShake; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; 
}

/** ---------- Fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* ----------- Loading ------------- */
@import url("./loading.css");

/* ----------- Products ------------- */
@import url("./product.css");

/* ----------- Profile ------------- */
@import url("./profile.css");

/* ----------- Products Manager ------------- */
@import url("./products_manager.css");

/* ----------- Footer ----------------------- */
@import url("./footer.css")